    * {
        padding: 0;
        margin: 0;
        font-family: Arial;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
    }

    .container_header {
        display: flex;
    }

    .header_name {
        color: #272042;
        margin-left: 10px;
    }

    ul {
        display: flex;
        align-items: center;
    }

    ul li {
        list-style-type: none;
        color: #8b8ba5;
        margin-left: 15px;
    }

    .home {
        color: #272042;
    }

    .button_kitchen {
        background-color: #fbe0dc;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #272042;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-style: none;
    }

    .container {
        margin-top: 20px;
    }

    .container_one {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .eat {
        font-size: 46px;
        color: #272042;
    }

    .container_one p {
        color: #8b8ba5;
        font-size: 20px;
    }

    .button_decide {
        background-color: #f7c531;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: #272042;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        margin-top: 30px;
    }

    .container2 {
        margin-top: 20px;
    }

    .container_two {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 110px;
        height: 5px;
        left: 950px;
    }

    .container_two p {
        color: #8b8ba5;
        font-size: 20px;
    }

    .container2 h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 200px;
        height: 60px;
        left: 910px;
    }

    .healthy_food {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 10px;
    }

    .healthy_food_one {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 217, 0);
        position: relative;
        width: 100px;
        height: 50px;
    }

    .healthy_food p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 217, 0);
        position: relative;
        width: 5px;
        height: 100px;
        left: 60px;
    }

    .container_makanan {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        left: 25px;
    }

    .nama_menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        left: 25px;
    }

    .nama_menu_one {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #8b8ba5;
        position: relative;
        left: 15px;
    }

    .bintang {
        position: relative;
        height: 0px;
        left: 180px;
    }

    .bintang1 {
        position: relative;
        height: 0px;
        left: 690px;
    }

    .bintang2 {
        position: relative;
        height: 0px;
        left: 1190px;
    }

    .bintang3 {
        position: relative;
        height: 0px;
        left: 1690px;
    }

    .bio {
        color: #F1F1F1;
        font-size: 200px;
        display: flex;
        position: absolute;
        height: 800px;
        width: 600px;
        left: 500px;
    }

    .bio p {
        color: black;
        font-size: 50px;
        display: flex;
        position: absolute;
        height: 140px;
        width: 1500px;
        left: 150px;
    }

    .foto {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 700px;
        bottom: 0px;
        top: 1600px;
    }

    .foto h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 0px;
        width: 200px;
        left: 196px;
        top: 80px;
    }

    .foto p {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 50px;
        width: 100px;
        left: 210px;
        top: 90px;
    }

    .rate {
        word-spacing: 300px;
        position: absolute;
        width: 2000px;
        height: 3000px;
        top: 1900px;
        bottom: 1000px;
        left: 300px;
    }

    .rate p {
        color: #8b8ba5;
        word-spacing: 0;
        display: flex;
        align-items: center;
        position: relative;
        height: 20px;
        width: 100px;
        top: 40px;
        bottom: 100px;
        right: 1320px;
    }

    .rate p1 {
        color: #8b8ba5;
        word-spacing: 0;
        display: flex;
        align-items: center;
        position: relative;
        height: 20px;
        width: 100px;
        top: 40px;
        bottom: 100px;
        right: 1000px;
    }

    .rate p2 {
        color: #8b8ba5;
        word-spacing: 0;
        display: flex;
        align-items: center;
        position: relative;
        height: 20px;
        width: 100px;
        top: 40px;
        bottom: 100px;
        right: 700px;
    }

    .rate p3 {
        color: #8b8ba5;
        word-spacing: 0;
        display: flex;
        align-items: center;
        position: relative;
        height: 20px;
        width: 100px;
        top: 40px;
        bottom: 100px;
        right: 390px;
    }

    .container_footer {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100px;
        width: 200px;
        top: 2000px;
        bottom: 100px;
        left: 400px;
    }

    .footer-9vo {
        align-items: center;
        border-top: solid 0.1rem #ebebeb;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding-top: 1200px;
        width: 100%;
    }

    .footer-Vzf {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 200px;
        margin: 10px;
        width: calc(100% - 200px);
    }

    .logo-Dvf {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: calc(100% - 10px);
        margin: 100px;
    }

    .item {
        color: #272042;
        flex-shrink: 0;
        font-family: Quicksand, 'Source Sans Pro';
        font-size: 40px;
        font-weight: 500;
        line-height: 0;
        margin: 10px;
        white-space: nowrap;
    }

    .foodyar {
        color: #272042;
        flex-shrink: 0;
        font-family: Quicksand, 'Source Sans Pro';
        font-size: 40px;
        font-weight: 500;
        line-height: 1.25;
        margin-bottom: 0.3rem;
        white-space: nowrap;
    }

    .menu-cT1 {
        color: #8b8ba5;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        flex-shrink: 0;
        height: 100%;
        margin-right: 200px;
    }

    .special {
        color: #272042;
        flex-shrink: 0;
        font-family: Quicksand, 'Source Sans Pro';
        font-size: 40px;
        font-weight: 500;
        line-height: 50px;
        margin-bottom: 30px;
        white-space: nowrap;
    }

    .healthy {
        color: #272042;
        flex-shrink: 0;
        font-family: Quicksand, 'Source Sans Pro';
        font-size: 20px;
        font-weight: 400;
        line-height: 1.25;
        margin-bottom: 5px;
        text-decoration-line: underline;
        white-space: nowrap;
    }

    .menu-oR1 {
        color: #8b8ba5;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 5px;
        height: 100%;
        margin-right: 200px;
    }

    .company {
        color: #272042;
        flex-shrink: 0;
        font-family: Quicksand, 'Source Sans Pro';
        font-size: 40px;
        font-weight: 500;
        line-height: 50px;
        margin-bottom: 2rem;
        white-space: nowrap;
    }

    .menu-FwD {
        color: #8b8ba5;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 70px;
    }

    .be_our {
        color: #272042;
        flex-shrink: 0;
        font-family: Quicksand, 'Source Sans Pro';
        font-size: 40px;
        font-weight: 500;
        line-height: 50px;
        margin-bottom: 2rem;
        white-space: nowrap;
    }

    .p4XH {
        color: #8b8ba5;
        flex-shrink: 0;
        font-family: Quicksand, 'Source Sans Pro';
        font-size: 20px;
        font-weight: 400;
        line-height: 50px;
        text-align: center;
        white-space: nowrap;
    }